root: "/Users/dan/Projects/ark/test"
files: [
  "**/*.coffee"
  "package.json"
]
apis: [ "assert", "child_process", "crypto", "events", "fs", "http", "https", "module",
  "path", "querystring", "stream", "sys", "tty", "url", "util" ]
